<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- Appender for Logstash via TCP -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <!-- Encoder to output JSON -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Include trace and span IDs provided by Micrometer Tracing -->
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
        </encoder>
    </appender>

    <!-- Configure Spring to use the JSON Appender and Console -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>

    <!-- Explicitly set the application log level -->
    <logger name="com.example.clickrank" level="DEBUG" />
</configuration>