__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
*.swp
.DS_Store
.env
*.egg-info/
target/
src/

# Exclude test, build, and local dev files
*.ipynb
*.md
*.toml
*.yml
*.yaml
*.ini
*.sh
*.bat
*.ps1
*.rst
*.txt
!requirements.txt
*.csv
*.tsv
*.json
*.xml
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.zip
*.tar
*.tar.gz
*.tgz
*.egg
*.whl
.idea/
.vscode/
.git/
